<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pongift20.marketplace.backend.store.mapper.StoreMapper">
    <select id="selectStore" resultType="store">
        SELECT * FROM store
        WHERE store_seq = #{storeSeq}
    </select>

    <insert id="createStore">
        INSERT INTO store
            (store_name, service_name, provider_seq, juso_code)
        VALUE
            (#{storeName}, #{serviceName}, 1, #{jusoCode})
        <selectKey resultType="long" keyProperty="storeSeq" keyColumn="store_seq" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <update id="updateStore">
        UPDATE store
        SET
            store_name = #{storeName}, service_name = #{serviceName}, juso_code = #{jusoCode}, modified_at = now()
        WHERE
            store_seq = #{storeSeq}
    </update>
</mapper>